<body>
  <h2>削除確認</h2>

  <p>本当に削除しますか？</p>
  <ul>
    <li>内容： {{.todo.Text}}</li>
    <li>状態： {{.todo.Status}}</li>
    <li>作成時間： {{.todo.CreatedAt}}</li>
  </ul>

  <form method="post" action="/todo/delete/{{.todo.ID}}">
    <p><input type="submit" value="削除"></p>
    <p><a href="/todo">戻る</a></p>
  </form>
</body>
